.card {
  width: 150px;
  height: 150px;
  background: rgb(5, 120, 120);
  transition: all 1s ease-in-out;
  clip-path: polygon(
    0% 0%, 100% 0%, 100% 100%, 0% 100%
  ); 
}

.card:hover {
  width: 250px;
  height: 250px;
  background: rgb(155, 53, 155);
  clip-path: polygon(
    25% 0%, 75% 0%, 
    100% 50%, 
    75% 100%, 25% 100%, 
    0% 50%
  ); 
}